/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * capitana:
 *   - http://typekit.com/eulas/00000000000000007735f334
 *   - http://typekit.com/eulas/00000000000000007735f332
 *   - http://typekit.com/eulas/00000000000000007735f33c
 *   - http://typekit.com/eulas/00000000000000007735f333
 *   - http://typekit.com/eulas/00000000000000007735f336
 *   - http://typekit.com/eulas/00000000000000007735f33f
 *   - http://typekit.com/eulas/00000000000000007735f335
 *   - http://typekit.com/eulas/00000000000000007735f33b
 *   - http://typekit.com/eulas/00000000000000007735f340
 *   - http://typekit.com/eulas/00000000000000007735f33a
 *   - http://typekit.com/eulas/00000000000000007735f33d
 *   - http://typekit.com/eulas/00000000000000007735f341
 *   - http://typekit.com/eulas/00000000000000007735f339
 *   - http://typekit.com/eulas/00000000000000007735f343
 *   - http://typekit.com/eulas/00000000000000007735f338
 *   - http://typekit.com/eulas/00000000000000007735f337
 *   - http://typekit.com/eulas/00000000000000007735f33e
 *   - http://typekit.com/eulas/00000000000000007735f342
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-01-27 16:18:36 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=tym8kks&ht=tk&f=48564.48565.48566.48567.48568.48569.48570.48571.48572.48573.48574.48575.48576.48577.48578.48579.48580.48581&a=94670861&app=typekit&e=css");

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/087395/00000000000000007735f334/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/087395/00000000000000007735f334/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/087395/00000000000000007735f334/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/c98f1f/00000000000000007735f332/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/c98f1f/00000000000000007735f332/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/c98f1f/00000000000000007735f332/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:500;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/e5be71/00000000000000007735f33c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/e5be71/00000000000000007735f33c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/e5be71/00000000000000007735f33c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:300;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/484103/00000000000000007735f333/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/484103/00000000000000007735f333/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/484103/00000000000000007735f333/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:200;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/bb80ce/00000000000000007735f336/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/bb80ce/00000000000000007735f336/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/bb80ce/00000000000000007735f336/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:600;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/128eaf/00000000000000007735f33f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/128eaf/00000000000000007735f33f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/128eaf/00000000000000007735f33f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:900;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/407662/00000000000000007735f335/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/407662/00000000000000007735f335/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/407662/00000000000000007735f335/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:800;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/3c1ee5/00000000000000007735f33b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/3c1ee5/00000000000000007735f33b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/3c1ee5/00000000000000007735f33b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:200;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/5ab712/00000000000000007735f340/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"),url("https://use.typekit.net/af/5ab712/00000000000000007735f340/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"),url("https://use.typekit.net/af/5ab712/00000000000000007735f340/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:800;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/7434ab/00000000000000007735f33a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/7434ab/00000000000000007735f33a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/7434ab/00000000000000007735f33a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/c85018/00000000000000007735f33d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/c85018/00000000000000007735f33d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/c85018/00000000000000007735f33d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/8ce998/00000000000000007735f341/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/8ce998/00000000000000007735f341/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/8ce998/00000000000000007735f341/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/e63cba/00000000000000007735f339/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e63cba/00000000000000007735f339/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e63cba/00000000000000007735f339/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/99b685/00000000000000007735f343/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/99b685/00000000000000007735f343/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/99b685/00000000000000007735f343/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:100;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/d5639b/00000000000000007735f338/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/d5639b/00000000000000007735f338/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/d5639b/00000000000000007735f338/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/4624f7/00000000000000007735f337/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/4624f7/00000000000000007735f337/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/4624f7/00000000000000007735f337/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/b608f7/00000000000000007735f33e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/b608f7/00000000000000007735f33e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/b608f7/00000000000000007735f33e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
  font-family:"capitana";
  src:url("https://use.typekit.net/af/7c49b3/00000000000000007735f342/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/7c49b3/00000000000000007735f342/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/7c49b3/00000000000000007735f342/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

.tk-capitana { font-family: "capitana",sans-serif; }


p {
  line-height: 1.8em;
  margin-bottom: 1.4em;
  &:last-child,
  &:only-child {
    margin-bottom: 0;
  }
}

i {
  font-style: italic;
}

.text-xxl {
  font-size: var(--textXxl);
  font-weight: 500;
  margin-bottom: 0.6em;
}

.text-xl {
  font-size: var(--textXl);
  font-weight: 500;
  margin-bottom: 0.8em;
}

.text-lg {
  font-size: var(--textLg);
  font-weight: 500;
  margin-bottom: 0.8em;
}

.text-md {
  font-size: var(--textMd);
  font-weight: 500;
  margin-bottom: 0.8em;
}

.text-body-sm {
  font-size: var(--textBodySm);
  font-weight: 500;
  margin-bottom: 0.8em;
}

.text-sm {
  font-size: var(--textSm);
  font-weight: 400;
}
.text-tiny {
  font-size: var(--textTiny);
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

strong,
b,
.bold {
  font-weight: bolder;
}

.lighter {
  font-weight: lighter;
}
.font-normal {
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.tt-capitalize {
  text-transform: capitalize;
}

.clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.wsnw {
  white-space: nowrap;
}
