.panel {
  --py: 1.2rem;
  --px: 1.6rem;

  border-radius: var(--rad);
  position: relative;
  display: flex;
  flex-direction: column;
}

.inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: var(--py) var(--px);
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.2rem;
  }
  &::-webkit-scrollbar-track {
    background: rgba(var(--contrast), 0.05);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(var(--contrast), 0.3);
  }
}

.footer {
  padding: calc(var(--py) * 0.6) var(--px);
  border-radius: 0 0 var(--rad) var(--rad);
}


.sm {
  --py: 1.2rem;
  --px: 1.6rem;
}

.md {
  --py: 1.8rem;
  --px: 2rem;
}

.xl {
  --py: 3.6rem;
  --px: 3.8rem;
}

.lg {
  --py: 2.6rem;
  --px: 2.8rem;
}

.shadow {
  box-shadow: 0 3rem 3rem -1.5rem rgba(black, 0.1);
}
