.circularChart {
  display: flex;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.circle {
  stroke: rgba(var(--accent), 1);
  fill: none;
  width: 100%;
  stroke-width: 1.2;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.circleAlt {
  stroke: var(--bgContrastDefault);
  fill: none;
  stroke-width: 1.2;
}

.text {
  fill: currentColor;
  font-size: 2rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  span {
    font-size: 50%;
    font-weight: lighter;
    margin-right: -0.5ch;
  }
}


@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}