@import "./css/mixins";

.img {
  width: var(--columnWidth);
  aspect-ratio: 1/1;
  border-radius: var(--rad);
  background-size: cover;
  background-position: center center;
  box-shadow: 0 2rem 3rem -1.5rem cl("grey1", 0.5);
  filter: grayscale(0.7);

  @include gDark() {
    box-shadow: 0 2rem 3rem -1.5rem cl("black", 0.9);
  }
}
